body {
	background-color: #ccc;
	width: 100%;
	height: 600px;
}

header {
	color: palevioletred;
	text-align: center;
}

#status {
	color: #fff;
	text-align: center;
}

.geostatus {
	width: 50%;
	height: 190px;
	margin-top: 10px;
	margin-left: 25%;
	font-size: 15px;
	padding: 25px;
	border: 5px solid paleturquoise;
}

#allmap {
	width: 80%;
	height: 300px;
	margin-top: 10px;
	margin-left: 10%;
	overflow: hidden;
	font-family: "微软雅黑";
}